In [1]:
import pandas as pd
import numpy as np

#### <center><span style="color:red">Should avoid to use df[0]['col']<span></center>

In [5]:
iterables = [['bar', 'baz', 'foo', 'qux'], ['one', 'two']]
iterables = pd.MultiIndex.from_product(iterables, names=['first', 'second'])

In [6]:
df = pd.DataFrame(np.random.randn(3, 8), index=['A', 'B', 'C'], columns=iterables)

In [7]:
df

first        bar                 baz                 foo                 qux  \
second       one       two       one       two       one       two       one
A       0.611036  0.682389 -0.699310 -0.087785 -0.150043  1.398840 -1.478293
B      -0.962640 -0.649933 -0.621492  0.667270  2.926457 -0.912826 -1.824499
C      -0.883925  0.878323  2.303600 -0.646050  0.548670 -0.351960 -0.731859

first
second       two
A      -2.898455
B       0.634106
C       0.769696

In [10]:
with pd.option_context('display.multi_sparse',False):
    print(df)

first        bar       bar       baz       baz       foo       foo       qux  \
second       one       two       one       two       one       two       one
A       0.611036  0.682389 -0.699310 -0.087785 -0.150043  1.398840 -1.478293
B      -0.962640 -0.649933 -0.621492  0.667270  2.926457 -0.912826 -1.824499
C      -0.883925  0.878323  2.303600 -0.646050  0.548670 -0.351960 -0.731859

first        qux
second       two
A      -2.898455
B       0.634106
C       0.769696

In [12]:
iterables.get_level_values(0)

Index(['bar', 'bar', 'baz', 'baz', 'foo', 'foo', 'qux', 'qux'], dtype='object', name='first')

In [13]:
df.columns

MultiIndex(levels=[['bar', 'baz', 'foo', 'qux'], ['one', 'two']],
           labels=[[0, 0, 1, 1, 2, 2, 3, 3], [0, 1, 0, 1, 0, 1, 0, 1]],
           names=['first', 'second'])

In [14]:
df['bar'].columns

Index(['one', 'two'], dtype='object', name='second')

In [17]:
df.index=iterables[:3]

In [18]:
df

first              bar                 baz                 foo            \
second             one       two       one       two       one       two
first second
bar   one     0.611036  0.682389 -0.699310 -0.087785 -0.150043  1.398840
      two    -0.962640 -0.649933 -0.621492  0.667270  2.926457 -0.912826
baz   one    -0.883925  0.878323  2.303600 -0.646050  0.548670 -0.351960

first              qux
second             one       two
first second
bar   one    -1.478293 -2.898455
      two    -1.824499  0.634106
baz   one    -0.731859  0.769696

In [21]:
df.loc[('bar','one')]

first  second
bar    one       0.611036
       two       0.682389
baz    one      -0.699310
       two      -0.087785
foo    one      -0.150043
       two       1.398840
qux    one      -1.478293
       two      -2.898455
Name: (bar, one), dtype: float64

In [22]:
df.loc['bar':'baz','bar':'baz']

first              bar                 baz
second             one       two       one       two
first second
bar   one     0.611036  0.682389 -0.699310 -0.087785
      two    -0.962640 -0.649933 -0.621492  0.667270
baz   one    -0.883925  0.878323  2.303600 -0.646050

In [23]:
df.loc[[('bar','one'),('baz','one')]]

first              bar                baz                 foo           \
second             one       two      one       two       one      two
first second
bar   one     0.611036  0.682389 -0.69931 -0.087785 -0.150043  1.39884
baz   one    -0.883925  0.878323  2.30360 -0.646050  0.548670 -0.35196

first              qux
second             one       two
first second
bar   one    -1.478293 -2.898455
baz   one    -0.731859  0.769696

In [26]:
df.loc[(['bar'],['one'])]

KeyError: "['one'] not in index"

In [25]:
df

first              bar                 baz                 foo            \
second             one       two       one       two       one       two
first second
bar   one     0.611036  0.682389 -0.699310 -0.087785 -0.150043  1.398840
      two    -0.962640 -0.649933 -0.621492  0.667270  2.926457 -0.912826
baz   one    -0.883925  0.878323  2.303600 -0.646050  0.548670 -0.351960

first              qux
second             one       two
first second
bar   one    -1.478293 -2.898455
      two    -1.824499  0.634106
baz   one    -0.731859  0.769696

In [27]:
s = pd.Series([1, 2, 3, 4, 5, 6],
               index=pd.MultiIndex.from_product([["A", "B"], ["c", "d", "e"]]))

In [28]:
s.loc[[("A", "c"), ("B", "d")]]

A  c    1
B  d    5
dtype: int64

In [37]:
df.loc[[("bar"),("baz")], ["bar", "baz"]]

first              bar                 baz
second             one       two       one       two
first second
bar   one     0.611036  0.682389 -0.699310 -0.087785
      two    -0.962640 -0.649933 -0.621492  0.667270
baz   one    -0.883925  0.878323  2.303600 -0.646050

In [30]:
s

A  c    1
   d    2
   e    3
B  c    4
   d    5
   e    6
dtype: int64

#### <center><span style="color:red">Use pd.IndexSlice to silice multi index<span></center>

In [2]:
def createI(prefix,n):
    return [prefix+str(i)  for i in range(n) ]

In [5]:
iIndex=pd.MultiIndex.from_product([createI('A',4),
                                    createI('B',2),
                                     createI('C',4),
                                      createI('D',2)])

In [7]:
colIndex=pd.MultiIndex.from_tuples([('a','one'),('a','two'),('b','one'),('b','two')],names=['lv1','lv2'])

In [10]:
dfmi = pd.DataFrame(np.random.randn(64,4),columns=colIndex,index=iIndex)

In [11]:
dfmi

lv1                 a                   b
lv2               one       two       one       two
A0 B0 C0 D0 -0.019395  1.167904  1.208992 -0.678234
         D1 -2.015517 -1.487309 -0.912519 -1.319911
      C1 D0  0.754468  0.440939  0.628104  0.231475
         D1  0.160171 -1.198038 -0.170542 -2.060748
      C2 D0  0.398882 -0.486637 -0.812725 -0.577110
         D1 -0.502804 -1.474740  0.800876  0.033367
      C3 D0  1.214308 -0.420873 -0.109619 -0.832191
         D1  0.205701  0.107525  0.208043 -0.954378
   B1 C0 D0  1.427713 -0.238885  0.538833  0.355393
         D1 -1.888479  0.080060  0.623912 -0.410034
      C1 D0 -0.175954  1.125209 -1.470000  0.795342
         D1  1.228355 -0.781925 -0.266539  0.872645
      C2 D0 -0.516853 -0.973839 -0.052158 -0.264869
         D1 -0.137442  0.728708 -0.257336 -0.098828
      C3 D0  1.352741  0.997527 -1.796868  0.192372
         D1 -0.414313  0.073924  1.134711 -0.250710
A1 B0 C0 D0 -0.427364  1.276589  0.824520 -1.114383
         D1 -0.914968  1.012753  0.680321  0.476386
      C1 D0 -1.793586  0.589186 -0.020201 -1.912352
         D1  0.143237 -0.003095  0.691169  2.424076
      C2 D0  0.033167  1.952574  0.537896  0.087416
         D1  0.043897 -1.069871  0.242814  0.400668
      C3 D0  1.210082  0.333099  0.797362 -0.502095
         D1 -0.409568  0.049200  0.532793 -0.477977
   B1 C0 D0  2.436092 -0.967677  1.090543  1.101016
         D1 -0.108445  1.508583  0.666565 -1.422194
      C1 D0 -0.957930 -1.006667  0.167646  0.037004
         D1 -1.125244 -2.127146  1.823247  0.000556
      C2 D0 -0.815917  1.367088  0.254988  1.944753
         D1 -0.796853 -1.068342  0.061763  1.271923
...               ...       ...       ...       ...
A2 B0 C1 D0  0.237416  0.076925  0.806908  2.007276
         D1 -0.885393 -0.081113 -0.192334  0.210998
      C2 D0  1.981815 -0.894984 -0.271450  0.587303
         D1  0.600260  0.936821  0.521170 -0.048275
      C3 D0  3.673498  0.246028 -0.741631 -0.835888
         D1 -0.586193 -0.399244 -1.032274 -0.257699
   B1 C0 D0  1.029139  0.149321  0.782948 -0.507100
         D1  1.092896 -0.273038 -0.902059  1.284545
      C1 D0  0.855518  1.631144  0.451425 -1.639415
         D1  0.285713  0.903082  0.664622  0.859613
      C2 D0  1.864477 -0.165480  2.416242 -0.627212
         D1 -0.414307 -0.110072  0.635321 -0.638169
      C3 D0 -0.786513  0.636145  0.325093 -2.001248
         D1  0.259060 -0.773945 -0.673041 -0.923246
A3 B0 C0 D0 -0.979049  0.419721  0.322899  1.931948
         D1  0.886360  0.603693 -0.149577 -1.564502
      C1 D0  1.022049 -0.231804  1.274777  2.771559
         D1  0.000514 -0.568230 -0.074058  0.281851
      C2 D0 -0.012598  0.355297 -0.122349 -0.227256
         D1 -0.570870  1.805361  1.021522  0.656121
      C3 D0  0.899888  0.533542 -1.984427 -0.141315
         D1 -0.415989  0.628487 -0.738442 -1.368555
   B1 C0 D0  0.185281 -1.986110 -1.047050  0.901729
         D1 -1.677959 -1.131948 -0.143152 -1.669151
      C1 D0 -0.115913 -0.287286 -0.323561 -0.645881
         D1 -1.051298  0.489345 -0.328230  1.022170
      C2 D0 -1.190849  0.941476 -0.909803  0.211476
         D1 -1.999767 -1.195832 -0.539564  0.677573
      C3 D0 -0.332079  1.729744 -0.461403  0.492366
         D1 -0.625476  0.799258  0.419522 -0.182170

[64 rows x 4 columns]

In [16]:
dfmi.loc[pd.IndexSlice['A1':'A2','B0':'B1','C0':'C2','D0'],pd.IndexSlice[:,:]]

lv1                 a                   b
lv2               one       two       one       two
A1 B0 C0 D0 -0.427364  1.276589  0.824520 -1.114383
      C1 D0 -1.793586  0.589186 -0.020201 -1.912352
      C2 D0  0.033167  1.952574  0.537896  0.087416
   B1 C0 D0  2.436092 -0.967677  1.090543  1.101016
      C1 D0 -0.957930 -1.006667  0.167646  0.037004
      C2 D0 -0.815917  1.367088  0.254988  1.944753
A2 B0 C0 D0 -0.475887  0.650228  0.219791  0.623753
      C1 D0  0.237416  0.076925  0.806908  2.007276
      C2 D0  1.981815 -0.894984 -0.271450  0.587303
   B1 C0 D0  1.029139  0.149321  0.782948 -0.507100
      C1 D0  0.855518  1.631144  0.451425 -1.639415
      C2 D0  1.864477 -0.165480  2.416242 -0.627212

In [19]:
dfmi.loc[:,['a','one']]>1

lv1              a
lv2            one    two
A0 B0 C0 D0  False   True
         D1  False  False
      C1 D0  False  False
         D1  False  False
      C2 D0  False  False
         D1  False  False
      C3 D0   True  False
         D1  False  False
   B1 C0 D0   True  False
         D1  False  False
      C1 D0  False   True
         D1   True  False
      C2 D0  False  False
         D1  False  False
      C3 D0   True  False
         D1  False  False
A1 B0 C0 D0  False   True
         D1  False   True
      C1 D0  False  False
         D1  False  False
      C2 D0  False   True
         D1  False  False
      C3 D0   True  False
         D1  False  False
   B1 C0 D0   True  False
         D1  False   True
      C1 D0  False  False
         D1  False  False
      C2 D0  False   True
         D1  False  False
...            ...    ...
A2 B0 C1 D0  False  False
         D1  False  False
      C2 D0   True  False
         D1  False  False
      C3 D0   True  False
         D1  False  False
   B1 C0 D0   True  False
         D1   True  False
      C1 D0  False   True
         D1  False  False
      C2 D0   True  False
         D1  False  False
      C3 D0  False  False
         D1  False  False
A3 B0 C0 D0  False  False
         D1  False  False
      C1 D0   True  False
         D1  False  False
      C2 D0  False  False
         D1  False   True
      C3 D0  False  False
         D1  False  False
   B1 C0 D0  False  False
         D1  False  False
      C1 D0  False  False
         D1  False  False
      C2 D0  False  False
         D1  False  False
      C3 D0  False   True
         D1  False  False

[64 rows x 2 columns]

In [21]:
dfmi.drop(('A1','B0'),axis=0)

lv1                 a                   b
lv2               one       two       one       two
A0 B0 C0 D0 -0.019395  1.167904  1.208992 -0.678234
         D1 -2.015517 -1.487309 -0.912519 -1.319911
      C1 D0  0.754468  0.440939  0.628104  0.231475
         D1  0.160171 -1.198038 -0.170542 -2.060748
      C2 D0  0.398882 -0.486637 -0.812725 -0.577110
         D1 -0.502804 -1.474740  0.800876  0.033367
      C3 D0  1.214308 -0.420873 -0.109619 -0.832191
         D1  0.205701  0.107525  0.208043 -0.954378
   B1 C0 D0  1.427713 -0.238885  0.538833  0.355393
         D1 -1.888479  0.080060  0.623912 -0.410034
      C1 D0 -0.175954  1.125209 -1.470000  0.795342
         D1  1.228355 -0.781925 -0.266539  0.872645
      C2 D0 -0.516853 -0.973839 -0.052158 -0.264869
         D1 -0.137442  0.728708 -0.257336 -0.098828
      C3 D0  1.352741  0.997527 -1.796868  0.192372
         D1 -0.414313  0.073924  1.134711 -0.250710
A1 B1 C0 D0  2.436092 -0.967677  1.090543  1.101016
         D1 -0.108445  1.508583  0.666565 -1.422194
      C1 D0 -0.957930 -1.006667  0.167646  0.037004
         D1 -1.125244 -2.127146  1.823247  0.000556
      C2 D0 -0.815917  1.367088  0.254988  1.944753
         D1 -0.796853 -1.068342  0.061763  1.271923
      C3 D0  0.565835  1.045006  0.246203 -0.049125
         D1 -1.134805 -1.393790 -0.684569 -1.185746
A2 B0 C0 D0 -0.475887  0.650228  0.219791  0.623753
         D1 -0.957126 -1.487479  0.225859 -1.223767
      C1 D0  0.237416  0.076925  0.806908  2.007276
         D1 -0.885393 -0.081113 -0.192334  0.210998
      C2 D0  1.981815 -0.894984 -0.271450  0.587303
         D1  0.600260  0.936821  0.521170 -0.048275
      C3 D0  3.673498  0.246028 -0.741631 -0.835888
         D1 -0.586193 -0.399244 -1.032274 -0.257699
   B1 C0 D0  1.029139  0.149321  0.782948 -0.507100
         D1  1.092896 -0.273038 -0.902059  1.284545
      C1 D0  0.855518  1.631144  0.451425 -1.639415
         D1  0.285713  0.903082  0.664622  0.859613
      C2 D0  1.864477 -0.165480  2.416242 -0.627212
         D1 -0.414307 -0.110072  0.635321 -0.638169
      C3 D0 -0.786513  0.636145  0.325093 -2.001248
         D1  0.259060 -0.773945 -0.673041 -0.923246
A3 B0 C0 D0 -0.979049  0.419721  0.322899  1.931948
         D1  0.886360  0.603693 -0.149577 -1.564502
      C1 D0  1.022049 -0.231804  1.274777  2.771559
         D1  0.000514 -0.568230 -0.074058  0.281851
      C2 D0 -0.012598  0.355297 -0.122349 -0.227256
         D1 -0.570870  1.805361  1.021522  0.656121
      C3 D0  0.899888  0.533542 -1.984427 -0.141315
         D1 -0.415989  0.628487 -0.738442 -1.368555
   B1 C0 D0  0.185281 -1.986110 -1.047050  0.901729
         D1 -1.677959 -1.131948 -0.143152 -1.669151
      C1 D0 -0.115913 -0.287286 -0.323561 -0.645881
         D1 -1.051298  0.489345 -0.328230  1.022170
      C2 D0 -1.190849  0.941476 -0.909803  0.211476
         D1 -1.999767 -1.195832 -0.539564  0.677573
      C3 D0 -0.332079  1.729744 -0.461403  0.492366
         D1 -0.625476  0.799258  0.419522 -0.182170

In [24]:
dfmi.loc(axis=0)[['A1']]=5

In [25]:
dfmi

lv1                 a                   b
lv2               one       two       one       two
A0 B0 C0 D0 -0.019395  1.167904  1.208992 -0.678234
         D1 -2.015517 -1.487309 -0.912519 -1.319911
      C1 D0  0.754468  0.440939  0.628104  0.231475
         D1  0.160171 -1.198038 -0.170542 -2.060748
      C2 D0  0.398882 -0.486637 -0.812725 -0.577110
         D1 -0.502804 -1.474740  0.800876  0.033367
      C3 D0  1.214308 -0.420873 -0.109619 -0.832191
         D1  0.205701  0.107525  0.208043 -0.954378
   B1 C0 D0  1.427713 -0.238885  0.538833  0.355393
         D1 -1.888479  0.080060  0.623912 -0.410034
      C1 D0 -0.175954  1.125209 -1.470000  0.795342
         D1  1.228355 -0.781925 -0.266539  0.872645
      C2 D0 -0.516853 -0.973839 -0.052158 -0.264869
         D1 -0.137442  0.728708 -0.257336 -0.098828
      C3 D0  1.352741  0.997527 -1.796868  0.192372
         D1 -0.414313  0.073924  1.134711 -0.250710
A1 B0 C0 D0  5.000000  5.000000  5.000000  5.000000
         D1  5.000000  5.000000  5.000000  5.000000
      C1 D0  5.000000  5.000000  5.000000  5.000000
         D1  5.000000  5.000000  5.000000  5.000000
      C2 D0  5.000000  5.000000  5.000000  5.000000
         D1  5.000000  5.000000  5.000000  5.000000
      C3 D0  5.000000  5.000000  5.000000  5.000000
         D1  5.000000  5.000000  5.000000  5.000000
   B1 C0 D0  5.000000  5.000000  5.000000  5.000000
         D1  5.000000  5.000000  5.000000  5.000000
      C1 D0  5.000000  5.000000  5.000000  5.000000
         D1  5.000000  5.000000  5.000000  5.000000
      C2 D0  5.000000  5.000000  5.000000  5.000000
         D1  5.000000  5.000000  5.000000  5.000000
...               ...       ...       ...       ...
A2 B0 C1 D0  0.237416  0.076925  0.806908  2.007276
         D1 -0.885393 -0.081113 -0.192334  0.210998
      C2 D0  1.981815 -0.894984 -0.271450  0.587303
         D1  0.600260  0.936821  0.521170 -0.048275
      C3 D0  3.673498  0.246028 -0.741631 -0.835888
         D1 -0.586193 -0.399244 -1.032274 -0.257699
   B1 C0 D0  1.029139  0.149321  0.782948 -0.507100
         D1  1.092896 -0.273038 -0.902059  1.284545
      C1 D0  0.855518  1.631144  0.451425 -1.639415
         D1  0.285713  0.903082  0.664622  0.859613
      C2 D0  1.864477 -0.165480  2.416242 -0.627212
         D1 -0.414307 -0.110072  0.635321 -0.638169
      C3 D0 -0.786513  0.636145  0.325093 -2.001248
         D1  0.259060 -0.773945 -0.673041 -0.923246
A3 B0 C0 D0 -0.979049  0.419721  0.322899  1.931948
         D1  0.886360  0.603693 -0.149577 -1.564502
      C1 D0  1.022049 -0.231804  1.274777  2.771559
         D1  0.000514 -0.568230 -0.074058  0.281851
      C2 D0 -0.012598  0.355297 -0.122349 -0.227256
         D1 -0.570870  1.805361  1.021522  0.656121
      C3 D0  0.899888  0.533542 -1.984427 -0.141315
         D1 -0.415989  0.628487 -0.738442 -1.368555
   B1 C0 D0  0.185281 -1.986110 -1.047050  0.901729
         D1 -1.677959 -1.131948 -0.143152 -1.669151
      C1 D0 -0.115913 -0.287286 -0.323561 -0.645881
         D1 -1.051298  0.489345 -0.328230  1.022170
      C2 D0 -1.190849  0.941476 -0.909803  0.211476
         D1 -1.999767 -1.195832 -0.539564  0.677573
      C3 D0 -0.332079  1.729744 -0.461403  0.492366
         D1 -0.625476  0.799258  0.419522 -0.182170

[64 rows x 4 columns]

In [27]:
dfmi.loc[(slice(None),'B0'),:]

lv1                 a                   b
lv2               one       two       one       two
A0 B0 C0 D0 -0.019395  1.167904  1.208992 -0.678234
         D1 -2.015517 -1.487309 -0.912519 -1.319911
      C1 D0  0.754468  0.440939  0.628104  0.231475
         D1  0.160171 -1.198038 -0.170542 -2.060748
      C2 D0  0.398882 -0.486637 -0.812725 -0.577110
         D1 -0.502804 -1.474740  0.800876  0.033367
      C3 D0  1.214308 -0.420873 -0.109619 -0.832191
         D1  0.205701  0.107525  0.208043 -0.954378
A1 B0 C0 D0  5.000000  5.000000  5.000000  5.000000
         D1  5.000000  5.000000  5.000000  5.000000
      C1 D0  5.000000  5.000000  5.000000  5.000000
         D1  5.000000  5.000000  5.000000  5.000000
      C2 D0  5.000000  5.000000  5.000000  5.000000
         D1  5.000000  5.000000  5.000000  5.000000
      C3 D0  5.000000  5.000000  5.000000  5.000000
         D1  5.000000  5.000000  5.000000  5.000000
A2 B0 C0 D0 -0.475887  0.650228  0.219791  0.623753
         D1 -0.957126 -1.487479  0.225859 -1.223767
      C1 D0  0.237416  0.076925  0.806908  2.007276
         D1 -0.885393 -0.081113 -0.192334  0.210998
      C2 D0  1.981815 -0.894984 -0.271450  0.587303
         D1  0.600260  0.936821  0.521170 -0.048275
      C3 D0  3.673498  0.246028 -0.741631 -0.835888
         D1 -0.586193 -0.399244 -1.032274 -0.257699
A3 B0 C0 D0 -0.979049  0.419721  0.322899  1.931948
         D1  0.886360  0.603693 -0.149577 -1.564502
      C1 D0  1.022049 -0.231804  1.274777  2.771559
         D1  0.000514 -0.568230 -0.074058  0.281851
      C2 D0 -0.012598  0.355297 -0.122349 -0.227256
         D1 -0.570870  1.805361  1.021522  0.656121
      C3 D0  0.899888  0.533542 -1.984427 -0.141315
         D1 -0.415989  0.628487 -0.738442 -1.368555

In [31]:
dfmi.xs('one',level='lv2',axis=1,drop_level=False)

lv1                 a         b
lv2               one       one
A0 B0 C0 D0 -0.019395  1.208992
         D1 -2.015517 -0.912519
      C1 D0  0.754468  0.628104
         D1  0.160171 -0.170542
      C2 D0  0.398882 -0.812725
         D1 -0.502804  0.800876
      C3 D0  1.214308 -0.109619
         D1  0.205701  0.208043
   B1 C0 D0  1.427713  0.538833
         D1 -1.888479  0.623912
      C1 D0 -0.175954 -1.470000
         D1  1.228355 -0.266539
      C2 D0 -0.516853 -0.052158
         D1 -0.137442 -0.257336
      C3 D0  1.352741 -1.796868
         D1 -0.414313  1.134711
A1 B0 C0 D0  5.000000  5.000000
         D1  5.000000  5.000000
      C1 D0  5.000000  5.000000
         D1  5.000000  5.000000
      C2 D0  5.000000  5.000000
         D1  5.000000  5.000000
      C3 D0  5.000000  5.000000
         D1  5.000000  5.000000
   B1 C0 D0  5.000000  5.000000
         D1  5.000000  5.000000
      C1 D0  5.000000  5.000000
         D1  5.000000  5.000000
      C2 D0  5.000000  5.000000
         D1  5.000000  5.000000
...               ...       ...
A2 B0 C1 D0  0.237416  0.806908
         D1 -0.885393 -0.192334
      C2 D0  1.981815 -0.271450
         D1  0.600260  0.521170
      C3 D0  3.673498 -0.741631
         D1 -0.586193 -1.032274
   B1 C0 D0  1.029139  0.782948
         D1  1.092896 -0.902059
      C1 D0  0.855518  0.451425
         D1  0.285713  0.664622
      C2 D0  1.864477  2.416242
         D1 -0.414307  0.635321
      C3 D0 -0.786513  0.325093
         D1  0.259060 -0.673041
A3 B0 C0 D0 -0.979049  0.322899
         D1  0.886360 -0.149577
      C1 D0  1.022049  1.274777
         D1  0.000514 -0.074058
      C2 D0 -0.012598 -0.122349
         D1 -0.570870  1.021522
      C3 D0  0.899888 -1.984427
         D1 -0.415989 -0.738442
   B1 C0 D0  0.185281 -1.047050
         D1 -1.677959 -0.143152
      C1 D0 -0.115913 -0.323561
         D1 -1.051298 -0.328230
      C2 D0 -1.190849 -0.909803
         D1 -1.999767 -0.539564
      C3 D0 -0.332079 -0.461403
         D1 -0.625476  0.419522

[64 rows x 2 columns]

In [32]:
midx = pd.MultiIndex(levels=[['zero', 'one'], ['x','y']],
                     labels=[[1,1,0,0],[1,0,1,0]])

In [33]:
df = pd.DataFrame(np.random.randn(4,2), index=midx)

In [34]:
df2 = df.mean(level=0)
df2

             0         1
one  -0.809972 -0.634335
zero  0.406453  0.357013

In [35]:
df

               0         1
one  y -0.045310 -1.008618
     x -1.574635 -0.260051
zero y  0.516910 -0.465627
     x  0.295996  1.179653

In [36]:
df2.reindex(df.index, level=0)

               0         1
one  y -0.809972 -0.634335
     x -0.809972 -0.634335
zero y  0.406453  0.357013
     x  0.406453  0.357013

In [38]:
x,y = df.align(df2, level=0)

In [39]:
x

               0         1
one  y -0.045310 -1.008618
     x -1.574635 -0.260051
zero y  0.516910 -0.465627
     x  0.295996  1.179653

In [40]:
y

               0         1
one  y -0.809972 -0.634335
     x -0.809972 -0.634335
zero y  0.406453  0.357013
     x  0.406453  0.357013

In [41]:
df2

             0         1
one  -0.809972 -0.634335
zero  0.406453  0.357013

In [42]:
midx

MultiIndex(levels=[['zero', 'one'], ['x', 'y']],
           labels=[[1, 1, 0, 0], [1, 0, 1, 0]])

In [52]:
df.swaplevel(1,0,axis=0).swaplevel(0,1,axis=0)

               0         1
one  y -0.045310 -1.008618
     x -1.574635 -0.260051
zero y  0.516910 -0.465627
     x  0.295996  1.179653

In [53]:
 df.reorder_levels([1,0],axis=0) # order matters

               0         1
y one  -0.045310 -1.008618
x one  -1.574635 -0.260051
y zero  0.516910 -0.465627
x zero  0.295996  1.179653

In [50]:
df

               0         1
one  y -0.045310 -1.008618
     x -1.574635 -0.260051
zero y  0.516910 -0.465627
     x  0.295996  1.179653

In [54]:
df.sort_index(level=1,axis=0)

               0         1
zero x  0.295996  1.179653
one  x -1.574635 -0.260051
zero y  0.516910 -0.465627
one  y -0.045310 -1.008618

In [58]:
dfmi.columns.set_names(['mtu','gtu'],inplace=True)

In [59]:
dfmi

mtu                 a                   b
gtu               one       two       one       two
A0 B0 C0 D0 -0.019395  1.167904  1.208992 -0.678234
         D1 -2.015517 -1.487309 -0.912519 -1.319911
      C1 D0  0.754468  0.440939  0.628104  0.231475
         D1  0.160171 -1.198038 -0.170542 -2.060748
      C2 D0  0.398882 -0.486637 -0.812725 -0.577110
         D1 -0.502804 -1.474740  0.800876  0.033367
      C3 D0  1.214308 -0.420873 -0.109619 -0.832191
         D1  0.205701  0.107525  0.208043 -0.954378
   B1 C0 D0  1.427713 -0.238885  0.538833  0.355393
         D1 -1.888479  0.080060  0.623912 -0.410034
      C1 D0 -0.175954  1.125209 -1.470000  0.795342
         D1  1.228355 -0.781925 -0.266539  0.872645
      C2 D0 -0.516853 -0.973839 -0.052158 -0.264869
         D1 -0.137442  0.728708 -0.257336 -0.098828
      C3 D0  1.352741  0.997527 -1.796868  0.192372
         D1 -0.414313  0.073924  1.134711 -0.250710
A1 B0 C0 D0  5.000000  5.000000  5.000000  5.000000
         D1  5.000000  5.000000  5.000000  5.000000
      C1 D0  5.000000  5.000000  5.000000  5.000000
         D1  5.000000  5.000000  5.000000  5.000000
      C2 D0  5.000000  5.000000  5.000000  5.000000
         D1  5.000000  5.000000  5.000000  5.000000
      C3 D0  5.000000  5.000000  5.000000  5.000000
         D1  5.000000  5.000000  5.000000  5.000000
   B1 C0 D0  5.000000  5.000000  5.000000  5.000000
         D1  5.000000  5.000000  5.000000  5.000000
      C1 D0  5.000000  5.000000  5.000000  5.000000
         D1  5.000000  5.000000  5.000000  5.000000
      C2 D0  5.000000  5.000000  5.000000  5.000000
         D1  5.000000  5.000000  5.000000  5.000000
...               ...       ...       ...       ...
A2 B0 C1 D0  0.237416  0.076925  0.806908  2.007276
         D1 -0.885393 -0.081113 -0.192334  0.210998
      C2 D0  1.981815 -0.894984 -0.271450  0.587303
         D1  0.600260  0.936821  0.521170 -0.048275
      C3 D0  3.673498  0.246028 -0.741631 -0.835888
         D1 -0.586193 -0.399244 -1.032274 -0.257699
   B1 C0 D0  1.029139  0.149321  0.782948 -0.507100
         D1  1.092896 -0.273038 -0.902059  1.284545
      C1 D0  0.855518  1.631144  0.451425 -1.639415
         D1  0.285713  0.903082  0.664622  0.859613
      C2 D0  1.864477 -0.165480  2.416242 -0.627212
         D1 -0.414307 -0.110072  0.635321 -0.638169
      C3 D0 -0.786513  0.636145  0.325093 -2.001248
         D1  0.259060 -0.773945 -0.673041 -0.923246
A3 B0 C0 D0 -0.979049  0.419721  0.322899  1.931948
         D1  0.886360  0.603693 -0.149577 -1.564502
      C1 D0  1.022049 -0.231804  1.274777  2.771559
         D1  0.000514 -0.568230 -0.074058  0.281851
      C2 D0 -0.012598  0.355297 -0.122349 -0.227256
         D1 -0.570870  1.805361  1.021522  0.656121
      C3 D0  0.899888  0.533542 -1.984427 -0.141315
         D1 -0.415989  0.628487 -0.738442 -1.368555
   B1 C0 D0  0.185281 -1.986110 -1.047050  0.901729
         D1 -1.677959 -1.131948 -0.143152 -1.669151
      C1 D0 -0.115913 -0.287286 -0.323561 -0.645881
         D1 -1.051298  0.489345 -0.328230  1.022170
      C2 D0 -1.190849  0.941476 -0.909803  0.211476
         D1 -1.999767 -1.195832 -0.539564  0.677573
      C3 D0 -0.332079  1.729744 -0.461403  0.492366
         D1 -0.625476  0.799258  0.419522 -0.182170

[64 rows x 4 columns]

In [60]:
dfm = pd.DataFrame({'jim': [0, 0, 1, 1],
                     'joe': ['x', 'x', 'z', 'y'],
                     'jolie': np.random.rand(4)})

In [61]:
dfm

   jim joe     jolie
0    0   x  0.393808
1    0   x  0.272182
2    1   z  0.809367
3    1   y  0.272697

In [69]:
dfm.set_index(['jim','joe'],inplace=True)

In [72]:
dfm.loc[(0,'x'),:]

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/pandas/core/indexing.py:1367: PerformanceWarning: indexing past lexsort depth may impact performance.
  return self._getitem_tuple(key)

            jolie
jim joe
0   x    0.393808
    x    0.272182

In [71]:
dfm

            jolie
jim joe
0   x    0.393808
    x    0.272182
1   z    0.809367
    y    0.272697

In [73]:
dfm.index.is_lexsorted()

False

In [74]:
dfm = dfm.sort_index()

In [75]:
dfm

            jolie
jim joe
0   x    0.393808
    x    0.272182
1   y    0.272697
    z    0.809367

In [76]:
dfm.index.is_lexsorted()

True

In [79]:
dfm.loc[(0,'x'):(1,'y')]

            jolie
jim joe
0   x    0.393808
    x    0.272182
1   y    0.272697

In [82]:
dfm

            jolie
jim joe
0   x    0.393808
    x    0.272182
1   y    0.272697
    z    0.809367

In [89]:
dfm.take([0,1])

            jolie
jim joe
0   x    0.393808
    x    0.272182

In [88]:
arr = np.random.randn(10)

In [90]:
arr.take([True,False,True])

array([-1.16889745,  0.02338097, -1.16889745])

In [91]:
arr

array([ 0.02338097, -1.16889745, -0.69180014, -1.1871228 , -0.03821095,
        1.94083575, -0.21741775,  0.37287352,  0.65914086,  0.68608478])

### <center>Take performance better than index select</center>

In [92]:
df = pd.DataFrame({'A': np.arange(6),
                   'B': list('aabbca')})

In [93]:
from pandas.api.types import CategoricalDtype

In [94]:
df['B'] = df['B'].astype(CategoricalDtype(list('abc')))

In [95]:
df

   A  B
0  0  a
1  1  a
2  2  b
3  3  b
4  4  c
5  5  a

In [96]:
df = df.set_index('B')

In [97]:
df.index

CategoricalIndex(['a', 'a', 'b', 'b', 'c', 'a'], categories=['a', 'b', 'c'], ordered=False, name='B', dtype='category')

In [98]:
df

   A
B
a  0
a  1
b  2
b  3
c  4
a  5

In [100]:
df1 = pd.DataFrame(np.arange(6),index=list('aabbca'))

In [103]:
df1

   0
a  0
a  1
b  2
b  3
c  4
a  5

In [104]:
df1.index

Index(['a', 'a', 'b', 'b', 'c', 'a'], dtype='object')

In [105]:
df1.loc['a']

   0
a  0
a  1
a  5

In [106]:
df.loc['a']

   A
B
a  0
a  1
a  5

In [107]:
df.sort_index() #oreder equal to catagory aka 'abc'

   A
B
a  0
a  1
a  5
b  2
b  3
c  4

In [110]:
df.reindex(['a','f'])

     A
B
a  0.0
a  1.0
a  5.0
f  NaN

In [109]:
df

   A
B
a  0
a  1
b  2
b  3
c  4
a  5

### <center>Intervel index</center>

In [112]:
df = pd.DataFrame(np.arange(2,12),index=pd.IntervalIndex.from_breaks(list(range(11))))

In [113]:
df

          0
(0, 1]    2
(1, 2]    3
(2, 3]    4
(3, 4]    5
(4, 5]    6
(5, 6]    7
(6, 7]    8
(7, 8]    9
(8, 9]   10
(9, 10]  11

In [114]:
c = pd.cut(range(4), bins=2)

In [115]:
c #Defines the number of equal-width bins in the range of x. 
#The range of x is extended by .1% on each side to include the minimum and maximum values of x

[(-0.003, 1.5], (-0.003, 1.5], (1.5, 3.0], (1.5, 3.0]]
Categories (2, interval[float64]): [(-0.003, 1.5] < (1.5, 3.0]]

In [116]:
pd.interval_range(0,3)

IntervalIndex([(0, 1], (1, 2], (2, 3]]
              closed='right',
              dtype='interval[int64]')

In [118]:
pd.interval_range(start=0,periods=5,freq=0.5,closed='both')

IntervalIndex([[0.0, 0.5], [0.5, 1.0], [1.0, 1.5], [1.5, 2.0], [2.0, 2.5]]
              closed='both',
              dtype='interval[float64]')

In [121]:
df.iloc[-3:]

          0
(7, 8]    9
(8, 9]   10
(9, 10]  11

In [123]:
df.index.is_monotonic_increasing

True

In [127]:
s = pd.Series([1,2,3])
s.dtype

dtype('int64')

In [128]:
s.reindex(range(0,4))#index operation change the data dtype

0    1.0
1    2.0
2    3.0
3    NaN
dtype: float64